.carousel-item>div>div{
    width: 33%;
}
.carousel-item>div>div>img{
    border-radius: 10%;
    object-fit: cover;
    width: 100%;
    height: 300px;

}
.carousel-control-next, .carousel-control-prev{
    position:static;
    width: 47px;
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: #000 !important;
    text-decoration: none;
    outline: 0;
    /* opacity: .9; */
}
#iconRun{
    color: black !important;
    background-color: brown;
}